<script type="module" src="@components/pages/index/index.js"></script>
<link rel="stylesheet" href="@components/pages/index/index.scss" />

<main class="page page--index">
    <div class="page__ container">
        <div class="slot">
            <div class="slot__reel">
                <div class="reel-frame">
                    <div class="drum">
                        <div class="drum__layer drum-layer--old">
                            <div class="drum-columns"></div>
                        </div>
                        <div class="drum__layer drum-layer--new">
                            <div class="drum-columns"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="menu">
            <div class="menu__container">
                <div class="menu__left">
                    <div class="menu__wrap-icon">
                        <div class="menu__column">
                            <a href="#" class="menu__settings">
                                <img src="@img/button/settings.png" alt="Settings" />
                            </a>
                            <a href="#" class="menu__sound">
                                <img src="@img/button/sound.png" alt="Sound" />
                            </a>
                        </div>
                        <a href="#" class="menu__info">
                            <img src="@img/button/info.png" alt="Info" />
                        </a>
                    </div>
                    <div class="menu__bonus">
                        <div class="menu__credit">
                            <span>Credit</span>
                            <div class="menu__value-all">$100,000.00</div>
                        </div>
                        <div class="menu__bet">
                            <span>Bet</span>
                            <div class="menu__value-win">$2.00</div>
                        </div>
                    </div>
                </div>
                <div class="menu__center">
                    <p class="menu__title">Place your bets!</p>
                </div>
                <div class="menu__right">
                    <a href="#" class="menu__minus">
                        <img src="@img/button/minus.png" alt="Minus" />
                    </a>
                    <a href="#" class="menu__button-spin">
                        <img src="@img/button/arrows.png" alt="Arrows" />
                    </a>
                    <a href="#" class="menu__plus">
                        <img src="@img/button/plus.png" alt="Plus" />
                    </a>
                </div>
            </div>
        </div>

        <div class="popup">
				<div class="popup__overlay"></div>
				<div class="popup__content">
					<div class="popup__inner">
						<h2 class="popup__title">Congratulations!</h2>
						<p class="popup__text">Ready to continue playing?</p>
						<a class="cta-button" href="#">Download Now</a>
					</div>
				</div>
			</div>
    </div>
</main>
